@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        i {
            border: solid black;
            border-width: 0 5px 5px 0;
            display: inline-block;
            padding: 6px;
            border-color: #28a4a4;
        }

        body {
            background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
        }

        .messages {
            background: #eafafa;
            position: relative;
            height: 100px;
            max-height: 100px;
            overflow-y: auto;
        }
    </style>
</head>
<div align="center" style="margin: 20px; padding-left: 30px;">
    <p><b>Player turn</b></p>
    <p id="turnArrow" style="transform:rotate(45deg)"><i class="right"></i></p>
</div>
<div class="container top-space">
    <div class="col-xs-6">
        <div align="center" style="font-style: italic;">My fleet</div>

        <table id="grid1" class="table table-bordered" style="background-color:#e6f9ff">
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr id="@i">
                        @for (int j = 0; j < 15; j++)
                        {
                            <td align="center"></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="row" id="shipPlacementMenu">
            <div class="col-sm-7">
                <button id="button0" class="btn btn-primary" type="submit">8x1</button>
                <button id="button1" class="btn btn-primary" type="submit">4x1</button>
                <button id="button2" class="btn btn-primary" type="submit">3x1</button>
                <button id="button3" class="btn btn-primary" type="submit">2x1</button>
                <button id="button4" class="btn btn-primary" type="submit">1x1</button>
            </div>
            <div class="col">
                <button id="btnUndo" class="btn btn-primary" type="submit">UNDO</button>
                <button id="btnArmor" style="background-color:#cca300" class="btn btn-primary" type="submit">Armor</button>
                <a id="armorCount">Armor left: 6</a>
            </div>
        </div>
        <div hidden id="attackStrategyMenu">
            <p><b>Choose your attack!</b></p>
            <div>
                <button id="btnBasicAttack" style="background-color:#337ab7" class="btn btn-primary" type="submit">Basic</button>
                <button id="btnLaserAttack" class="btn btn-primary" type="submit">Laser</button>
                <button id="btnBombAttack" class="btn btn-primary" type="submit">Bomb</button>
                <button id="btnCrossAttack" class="btn btn-primary" type="submit">Cross</button>
            </div>
        </div>


        <hr>
    </div>

    <div class="col-xs-6">
        <div align="center" style="font-style: italic;">Enemy fleet</div>
        <table id="grid2" class="table table-bordered" style="background-color:lightgrey">
            <tbody>
                @for (int i = 0; i < 15; i++)
                {
                    <tr id="@i">
                        @for (int j = 0; j < 15; j++)
                        {
                            <td align="center"></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button id="ready" class="btn btn-success btn-block" type="submit" disabled>Ready</button>
    <div class="row">
        <div class="col-sm-3"><button id="buttonTesting" type="button" class="btn btn-secondary">[TESTING ONLY] Activate "Ready"</button></div>
        <div class="col-sm-3"><button id="buttonTesting2" type="button" class="btn btn-secondary">[TESTING ONLY] Remove Duels</button></div>
    </div>
    <br>
        <ul id="selections" class="messages"></ul>
        <input class="form-control" id="selection-content" />

</div>


@section Scripts{
    <script data-main="scripts/main" src="~/lib/signalr.js"></script>
}