/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.top-space {
    margin-top: 20px;
}

.table td {
    height: 35px;
    border: 2px solid #999999;
}

    .table td:hover {
        color: #000000;
        cursor: pointer;
    }

#grid1 td:hover {
    background-color: dimgrey;
}

#grid2 td:hover {
    background-color: #ff6666;
}

.armorGrid td:hover {
    background-color: #cca300 !important;
}

.messages {
    background: white;
    position: relative;
    height: 40px;
    max-height: 40px;
}

i {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    border-color: #28a4a4;
}

body {
    background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

.messages {
    background: #eafafa;
    position: relative;
    height: 100px;
    max-height: 100px;
    overflow-y: auto;
}

#pirate {
    width: 100px;
    height: 100px;
    background-image: url(https://i.ibb.co/ZYbFcQ5/pirate-2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.btn-primary2 {
    background-color: #b38600;
    color: #000;
}

.btn-primary2:hover {
    background-color: #0000cc;
    color: #000;
}

.btn-3:hover {
    background-color: #0000ff !important;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 -10px #1c1a0f;
    }

    40% {
        box-shadow: 0 0 20px #1c1a0f;
    }

    60% {
        box-shadow: 0 0 20px #1c1a0f;
    }

    100% {
        box-shadow: 0 0 -10px #1c1a0f;
    }
}

.button-glow {
    animation: glowing 5000ms infinite;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
